body {
  font: 16px/1.17 "Nunito Sans", sans-serif;
  font-weight: 500;
  color: #000;

  & * {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(207, 160, 92, 0.5);
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 3px;
    }
  }

  &.menu-opened{
    overflow: hidden;
  }
}

h3{
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
  transition: color 0.2s ease;
  cursor: pointer;
  outline: none !important;

  &:hover {
    transition: color 0.2s ease;
  }

  &:active,
  &:focus,
  &:visited {
    color: $white;
    transition: color 0.3 ease;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.header,
.footer {
  flex-shrink: 1;
  width: 100%;
}

.main {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

input {
  background: rgb(158, 156, 158);
  opacity: 1;
  border-radius: 5px;
  width: 175px;
  padding: 7.5px 8px;
  border: 1px solid transparent;
  outline: none;

  &[type="submit"] {
    opacity: 1;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }

  &[type="text"] {
    margin: 10px auto;
    height: 35px;
    // max-width: 420px;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;

    @media (min-width:$tablet) {
      height: 50px;
    }
  }

  &[type="email"] {
    margin: 10px auto;
    height: 35px;   
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;

    @media (min-width:$tablet) {
      height: 50px;
    }
  }

  &:visited,
  &:active,
  &:hover,
  &:focus {
    background: $white;
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.icon {
  width: 25px;
  height: 25px;
}

.mini_desc{
  max-height: 90px;
  overflow: hidden;
  color: #000;
  line-height: 22px;
}

.tripple-btn{
  display: flex;
  position: relative;

    .tripple-btn-first{
      display: block;
      background: #B65490;
      height: 100%;
      width: 40%;
      position: relative;
      transform: skew(25deg);
      transition: margin-top 0.2s ease;

      &:before{
        content: "";
        display: block;
        background: #B65490;
        position: absolute;      
        top: 0;
        left: -18%;
        height: 100%;
        width: 60%;  
        transform: skew(-25deg);
      }
    }

    .tripple-btn-second{
      display: block;
      background: #E05D68;
      height: 100%;
      width: 30%;
      transform: skew(25deg);
      margin-left: -2px;  
      transition: margin-top 0.2s ease;
    }

    .tripple-btn-third{
      display: block;
      position: relative;
      background: #5184AF;
      height: 100%;
      width: 30%;
      margin-left: -1px;
      transform: skew(25deg); 
      transition: margin-top 0.2s ease;

      &:after{
        content: "";
        display: block;
        background: #5184AF;
        position: absolute;      
        top: 0;
        right: -25%;
        height: 100%;
        width: 60%;  
        transform: skew(-25deg);
      }
    }

    .tripple-btn-title{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;      
      font-family: "Gotham Pro", sans-serif;
      font-style: normal;
      font-weight: normal;     
      color: white;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &.tripple-btn-title-arrow{
        justify-content: space-between;

        &:after{
          content: url(/wp-content/themes/intericco/images/Vector.svg);
          display: block;
          position: absolute;
          right: 0;
        }
      }

      @media(min-width: $desktop) {
        letter-spacing: 0.405em;
      }
    }

    &.tripple-btn-tiny{
      width: 50px;
      height: 6px;
    }

    &.tripple-btn-small{
      width: 130px;
      height: 30px;
      
      .tripple-btn-title{
        font-size: 16px;
      }
    }

    &.tripple-btn-bigger{
      width: 135px;
      height: 40px;
      
      .tripple-btn-title{
        font-size: 16px;
      }
    }

    &.tripple-btn-medium{
      width: 180px;
      height: 55px;
    }

    &.tripple-btn-big{
      height: 50px;
      width: 300px;
    }

    &:hover{

      .tripple-btn-first{
        margin-top: -2%;
        transition: margin-top 0.2s ease;
      }


      .tripple-btn-second{
        margin-top: 0%;
        transition: margin-top 0.2s ease;
      }

      .tripple-btn-third{
        margin-top: 2%;
        transition: margin 0.2s ease;
      }
    }
}

//Left sidebar
.left-side{ 
  width: 100%;      
  height: 100%;
  position: relative;

  &-title{
    
    .left-side-title-wrapper{
      display: flex;
      padding-left: 45px;
      padding-top: 70px;

      .left-side-title-tag{
        display: block;          
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;          
        width: fit-content;
        position: relative;        
        background-color: white;

        @media(min-width: $desktop) {
          writing-mode: tb;    
          font-size: 45px;     
        }
      }

      @media(min-width: $desktop) {
        justify-content: flex-end; 
        transform: rotate(-180deg);
        padding-left: initial;
        padding-top: initial;
      }
    }     
    
    @media(min-width: $desktop) {
      height: 100%;
      width: 100px; 
    }
  }

  &-text{
    display: flex;
    align-items: center;
    transform: rotate(-180deg);
    position: absolute;
    right: -28px;
    top: 200%;

    span{
      max-width: 75px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.15);
      color: transparent;      
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      writing-mode: tb;
    }   
    
    @media(min-width: $desktop) {
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }

  @media(min-width: $desktop) {
    max-width: 16.6%;
  }
}  

.left-side-sm{
  padding-left: 100px;

  &-title{

    &-wrapper{
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      .left-side-sm-title-tag{
        background-color: transparent;
        height: fit-content;
        text-align: center;
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px!important;
        letter-spacing: 1.34em;
        color: #FBFBFB;
        background-color: initial!important;
        position: relative;

        &:before{
          content: "";
          display: block;
          border: 2px solid rgba(0, 0, 0, 0.15);
          border-width: 2px 2px 0px 0px;
          height: 12px;
          width: 25px;
          position: absolute;
          right: 6px;
          top: -25px;
          z-index: -1;
        }

        &:after{
          content: "";
          display: block;
          height: 125px;
          width: 13px;
          border: 2px solid rgba(0, 0, 0, 0.15);
          border-width: 0px 0px 2px 2px;
          position: absolute;
          top: -25px;
          right: 20px;
        }
      }
    }
  }
}

.lines-title-wrapper{
  position: relative;
  padding-top: 74px;

  .lines-title{
    position: relative;
    width: fit-content;

    &:before{
      content: "";
      display: block;
      border: 4px solid #363636;
      height: 100px;
      width: 100px;
      position: absolute;
      right: -35px;
      bottom: -29px;
      z-index: -1;

      @media(min-width: $desktop) {
        display: none;
      }
    }

    &:after{
      content: "";
      display: block;
      height: 4px;
      width: 45px;
      background-color: #E05D68;
      position: absolute;
      bottom: 12px;
      right: -65px;
    }

    @media(min-width: $desktop) {
      width: auto;
    }
  }

  .line-purple-mob{
    
    @media(min-width: $desktop) {
      display: none;
    }
  }

  .line-corner-mob{

    @media(min-width: $desktop) {
      display: none;
    }
  }

  .line-blue-mob{

    @media(min-width: $desktop) {
      display: none;
    }
  }

  @media(min-width: $desktop) {
    padding-top: 0;
  }
}

.main-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #fff;
  background-color: #151515;
  height: 50px;   
  max-width: 300px;
  padding-left: 25px;

  &:after{
    content: url(/wp-content/themes/intericco/images/arrow-right.svg);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    background-color: #1B1B1B; 
  }
}

.middle-line{
  height: 100%;
  width: 1px;
  background: #EDEDED;
  position: absolute;

  &-first{
    left: 15%;

    @media(min-width: $desktop) {
      left: 16.6%;
    }
  }

  &-second{
    left: 33.2%;
    display: none;

    @media(min-width: $desktop) {
      display: block;
    }
  }

  &-third{
    left: 49.9%;
  }

  &-fourth{
    left: 66.6%;
    display: none;

    @media(min-width: $desktop) {
      display: block;
    }
  }

  &-fifth{
    left: 85%;

    @media(min-width: $desktop) {
      left: 83.2%;
    }
  }

  .middle-line-square {
    height: 50px;
    width: 4px;
    background-color: white;
    position: absolute;
    left: -1px;
    right: -1px;      
  }
}

.title-block{
  display: flex;
  align-items: center;

  h2{
    margin-right: -30px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
  }

  .title-block-lines{
    position: relative;
    height: 100px;
    width: 100px;

    .line-purple{
      height: 25px;
      width: 75px;
      border: 4px solid #B65490;
      border-width: 4px 0px 0px 4px;
      background-color: initial;
      top: 0;
      left: 0;
    }

    .line-corner{
      height: 100px;
      width: 25px;
      border-width: 4px 4px 4px 0px;
      right: 0;
      top: -1px;
    }

    .line-blue{
      height: 25px;
      width: 75px;
      border: 4px solid #5184AF;
      border-width: 0px 0px 4px 4px;
      background-color: initial;
      bottom: 0;
      left: 0;
    }
  }

  &-reverse{

    h2{
      margin-right: 0;
      margin-left: -50px;
    }

    .title-block-lines{
  
      .line-purple{
        border-width: 4px 4px 0px 0px;
        right: 0;
        left: initial;
      }
  
      .line-corner{
        border-width: 4px 0px 4px 4px;
        left: 0;
        right: initial;
      }
  
      .line-blue{
        border-width: 0px 4px 4px 0px;
        right: 0;
        left: initial;
      }
    }
  }
}

.line{
  position: absolute;

  &-purple{
    display: block;
    background: #B65490;

    &-mob{
      width: 4px;
      height: 20px;
      top: 54px;
      left: 120px;
    }
  }

  &-corner{
    display: block;
    border: solid #E05D68;

    &-mob{
      width: 25px;
      height: 15px;
      border-width: 0px 4px 4px 0px;
      bottom: -28px;
      left: 98px;
    }
  }

  &-blue{
    display: block;
    background: #5184AF;

    &-mob{
      height: 4px;
      width: 45px;
      bottom: -28px;
      left: 53px;
    }
  }
}

.swiper-main {     
  height: 660px;   
  position: initial; 

  .swiper-wrapper{
    cursor: grab;

    .swiper-slide{

      img{
        display: block;
        object-fit: cover;
        max-height: 500px;
        height: 100%;
        max-width: 375px;
        width: 100%;
        margin-bottom: 30px;
      }
    }        
  }

  .swiper-pagination{
    display: flex;
    height: 30px;

    .swiper-pagination-bullet{
      background: none;
      height: auto;
      width: 30px;
      border-bottom: 1px solid black;
      border-radius: 0;
      text-align: left;
      font-family: "Gotham Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      transition: width 0.3s ease, color 0.3s ease;
      color: #E4E4E4;
      border-color: #E4E4E4;
      opacity: 1;
    }

    .swiper-pagination-bullet-active{
      color: #000;
      border-color: #000;
      width: 50px;
      transition: width 0.3s ease, color 0.3s ease;
    }
  }    

  .swiper-button-next{
    left: -100px;
    top: 40%;
    height: 45px;
    width: 45px;
    background-color: #000;
    color: #fff;
    font-size: 32px;

    &:after{
      content: "";
    }

    &:before{
      content: '';
      display: block;
      height: 45px;
      width: 45px;
      border: 2px solid #BD5B98;
      border-width: 2px 0px 0px 2px;
      position: absolute;
      top: -6px;
      left: -6px;
    }
  }
} 

.text-with-logo{
  display: block;
  transform: rotate(-90deg);
  transform-origin: 0% -140%;
  position: relative;

  h3{
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.195em;
    margin-bottom: 7px;
  }

  span{
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    color: #595959;
    letter-spacing: 0.195em;
  }

  &:before{
    content: url(/wp-content/themes/intericco/images/logo-e.svg);
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -70px;
    top: -7px;
    transform: rotate(90deg);
  }
}

.footer-bottom-left-menu{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-left: 20px;

  .footer-menu-item{
      display: flex;
      justify-content: center;
      width: 50%;
      margin-bottom: 35px;

      a{
          display: flex;
          align-items: center;                        
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #8F8F8F;
          width: 150px;
          height: 40px;
          padding-left: 15px;
          position: relative;
          transition: background-color 0.3s ease;

          &:after{
              content: "";
              width: 70px;
              height: 1px;
              background-color: white;
              position: absolute;
              right: -55px;
              opacity: 0;
              transition: opacity 0.3s ease;
          }

          &:hover{
              background-color: #151515;
              transition: background-color 0.3s ease;

              &:after{
                  opacity: 1;
                  transition: opacity 0.3s ease;
              }
          }
      }      
      
      @media(min-width: $desktop) {
          width: 30%;
          justify-content: initial;
      }
  }
}

.top-crumbs{
  display: flex;
  align-items: center;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  color: #151515;
  text-transform: uppercase;             

  .crumbs-item{
      color: #151515;  
  }

  .crumbs-last{
      font-weight: bold;
      position: relative;         

      .line{

          &-purple{
              height: 3px;
              width: 140px;
              right: 131px;
              bottom: -11px;
          }

          &-corner{
              border-width: 0 3px 3px 0;
              height: 10px;
              width: 140px;
              right: -9px;
              bottom: -10px;
          }

          &-blue{
              height: 30px;
              width: 3px;
              right: -10px;
              bottom: 0px;
          }
      }

      &:before{
        content: "/";
        color: #151515;
        font-weight: bold;
        margin-left: 15px;
    }
  }

  &:before{
      content: "";
      display: block;
      height: 4px;
      width: 50px;
      background-color: #272727;
      margin-right: 30px;
  }
}

.design-seo{
  margin-top: 120px;
  position: relative;

  .design-icon{
    max-width: 100px;
    max-height: 150px;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: -1;
  }

    .lines-title-wrapper{
      position: relative;
      padding-top: 74px;
    
        .lines-title{
          position: relative;
          width: fit-content;
          background-color: white;
      
          &:before{
            content: "";
            display: block;
            border: 4px solid #E8E8E8;
            height: 100px;
            width: 100px;
            position: absolute;
            right: -35px;
            bottom: -29px;
            z-index: -1;
      
            @media(min-width: $desktop) {
              display: block;
            }
          }
      
          &:after{
            content: none;            
          }
      
        }
      
        .line-purple-mob{
          
          @media(min-width: $desktop) {
            display: block;
          }
        }
      
        .line-corner-mob{
      
          @media(min-width: $desktop) {
            display: block;
          }
        }
      
        .line-blue-mob{
      
          @media(min-width: $desktop) {
            display: block;
          }
        }
      
        @media(min-width: $desktop) {
          padding-top: 74px;
        }

        &:before{
          content: "";
          display: block;
          width: 50px;
          height: 4px;
          background-color: #E05D68;
          position: absolute;
          left: -100px;
          bottom: 15px;
        }

        &:after{
          content: "";
          display: block;
          width: 50px;
          height: 4px;
          background-color: #E05D68;
          position: absolute;
          right: 0px;
          bottom: 15px;
        }
      }

      .design-seo-middle{
        padding-left: 20px;
        margin-top: 100px;

        h4{
          display: flex;
          align-items: center;
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          color: #000000;
          margin-bottom: 50px;

          &:before{
            content: "";
            display: block;
            width: 40px;
            height: 20px;
            background: #E05D68;
            margin-right: 40px;
          }
        }

        p{
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          color: #232222;
        }
    }
}

.consultation{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 810px;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  background-color: white;

  &-text{
      padding: 40px 0 40px 50px;
      
      h3{
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          color: #232222;
      }

      p{
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #232222;
      }
  }

  .tripple-btn{
      align-self: flex-end;
      margin-right: 70px;

      .tripple-btn-title{                                       
          font-size: 14px;
          text-transform: initial;
          letter-spacing: initial;
      }

      &:after{
          content: "";
          display: block;
          background-image: url(/wp-content/themes/intericco/images/Vector.svg);
          background-position: center center;
          background-repeat: no-repeat;
          height: 40px;
          width: 50px;
          background-color: #E05D68;
          position: absolute;
          right: -70px;
      }
  }

  &:before{
      content: "";
      display: block;
      background-color: #E05D68;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  &:hover{
      
      .tripple-btn-first{
          margin-top: -2%;
          transition: margin-top 0.2s ease;
        }
  
  
      .tripple-btn-second{
          margin-top: 0%;
          transition: margin-top 0.2s ease;
      }

      .tripple-btn-third{
          margin-top: 2%;
          transition: margin 0.2s ease;
      }
  }
}