.page-template-error{

    .header{
        display: none;
    }

    .error-wrapper{
        height: 100vh;
        position: relative;
        padding: 100px 0;

        .middle-line{
            top: 0;
            bottom: 0;
        }

        .error-icon{
            max-width: 200px;
            max-height: 285px;
            position: absolute;
            bottom: 100px;
            left: -100px;
            z-index: -1;

            &-sec{
                top: 100px;
                right: -100px;
                left: initial;
            }
        }

        .error-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1200px;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            position: relative;
            z-index: 1;

            .error-right-text{
                position: absolute;        
                top: -140px;
                right: 50px;
                transform: rotate(-180deg);
                
                span{            
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: rgba(0, 0, 0, 0.55);
                    color: transparent;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 90px;
                    -webkit-writing-mode: tb;
                    -ms-writing-mode: tb;
                    writing-mode: tb;
                }
            }

            .error-title{
                display: flex;
                align-items: center;
                max-width: fit-content;
                font-family: "Gotham Pro", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                color: #151515;
                position: relative;

                .line{

                    &-purple{
                        height: 3px;
                        width: 100px;
                        right: 40px;
                        bottom: -11px;
                    }

                    &-corner{
                        border-width: 0 3px 3px 0;
                        height: 10px;
                        width: 50px;
                        right: -9px;
                        bottom: -10px;
                    }

                    &-blue{
                        height: 30px;
                        width: 3px;
                        right: -10px;
                        bottom: 0px;
                    }
                }

                &:before{
                    content: "";
                    display: block;
                    background-color: #272727;
                    width: 50px;
                    height: 5px;
                    margin-right: 40px;
                }
            }

            .error-middle{
                display: flex;
                align-items: center;
                justify-content: center;

                .error-num{                 
                    font-style: normal;
                    font-weight: 900;
                    font-size: 290px;
                    color: #E05D68;
                }
            }

            .error-bottom{
                display: flex;
                justify-content: space-between;

                .error-bottom-title{
                    width: 50%;

                    .error-title{
                        font-family: "Gotham Pro", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 45px;
                        color: #151515;
                        position: relative;
                        padding-left: 50px;
                        margin: 0;
                        text-transform: uppercase;
    
                        &:before{
                            content: "";
                            display: block;
                            border: 2px solid #151515;
                            background: white;
                            border-width: 0px 2px 2px 0px;
                            height: 15px;
                            width: 230px;
                            position: absolute;
                            left: 0px;
                            bottom: -24px;                      
                          }
                  
                          &:after{
                            content: "";
                            display: block;
                            height: 50px;
                            width: 15px;
                            border: 2px solid #151515;
                            border-width: 2px 0px 0px 2px;
                            position: absolute;
                            top: 26px;
                            left: 0px;
                          }
                    }              
                }

                .footer-bottom-left-menu{
                    justify-content: space-between;
                    margin-top: 0;
                    padding-left: 0;
                    max-width: 50%;

                    .footer-menu-item{

                        a{

                            &:after{
                                background-color: #151515;
                                right: -20px;
                                width: 40px;
                            }

                            &:hover{
                                background-color: #F7F7F7;
                            }
                        }
                    }
                }
            }
        }
    }
}