.page-template-contacts{

    .header{
        display: none;
    }

    .contacts-wrapper{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        position: relative;
        padding: 0 15px;

        .menu-left{
            height: 100%;

            .menu-left-bottom{
                display: none;
            }

            .info-right{
                display: block;
                position: relative;

                .text-with-logo{
                    top: -800px;

                    span{
                        color: black;
                    }
                }
            }
        }
    
        .contacts-container{
            max-width: 1300px;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 150px;
            position: relative;

            .top-crumbs{
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
                padding-top: 75px;

                .crumbs-last{
                    display: flex;

                    .line{

                        &-purple{
                            height: 3px;
                            width: 100px;
                            right: 41px;
                            bottom: -11px;
                        }
              
                        &-corner{
                            border-width: 0 3px 3px 0;
                            height: 10px;
                            width: 50px;
                            right: -9px;
                            bottom: -10px;
                        }
              
                        &-blue{
                            height: 30px;
                            width: 3px;
                            right: -10px;
                            bottom: 0px;
                        }
                    }

                    &:before{
                        display: none;

                        @media(min-width: $desktop) {
                            display: block;
                        }
                    }
                }

                &:before{
                    display: none;

                    @media(min-width: $desktop) {
                        display: block;
                    }
                }

                @media(min-width: $desktop) {
                    justify-content: initial;
                    margin-bottom: 140px;
                    padding-top: 0;
                }
            }

            .contacts-middle{
                display: flex;
                justify-content: space-between;
                width: 100%;

                .contacts-title{
                    font-family: "Gotham Pro", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 35px;
                    color: black;
                    margin-bottom: 50px;
                    text-align: center;

                    @media(min-width: $desktop) {
                        margin-bottom: 100px;
                        text-align: initial;
                    }
                }

                &-left{
                    max-width: 100%;
                    width: 100%;

                    .footer-bottom-right{
                        margin-bottom: 50px;

                        .footer-right-info-item{     

                            .footer-right-info-item-place{
                                color: #373737;
                            }

                            @media(min-width: $desktop) {
                                margin-bottom: 70px;
                            }
                        }

                        @media(min-width: $desktop) {
                            margin-bottom: 0;
                        }
                    }

                    .contacts-map-block{
                        position: relative;

                        iframe{
                            width: 100%!important;
                        }

                        img{
                            position: absolute;
                            bottom: -70px;
                            left: -53px;
                            z-index: -1;
                        }
                    }

                    @media(min-width: $desktop) {
                        max-width: 55%;
                    }
                }

                &-form{
                    display: none;
                    max-width: 35%;
                    width: 100%;

                    @media(min-width: $desktop) {
                        display: block;
                    }
                }
            }
        }

        .menu-left{

            .text-with-logo{
                display: none;

                @media(min-width: $desktop) {
                    display: block;
                }
            }
        }

        @media(min-width: $desktop) {
            padding: 0 150px;
        }
    }

    .footer{

        .footer-top{
            display: none;
        }

        .footer-bottom{

            .footer-container{

                .footer-bottom-left{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    max-width: 100%;

                    .footer-bottom-left-title{
                        order: 0;
                    }

                    .footer-bottom-left-menu{
                        order: 2;
                        max-width: 100%;
                        width: 100%;
                        padding-left: 0;

                        .footer-menu-item{
                            width: calc(100%/6);

                            a{
                                justify-content: center;
                                padding-left: 0;
                            }
                        }
                    }

                    .footer-social{
                        order: 1;

                        &:after{
                            display: none;
                        }
                    }
                }

                .footer-bottom-right{
                    display: none;
                }
            }

            .footer-anchor{
                margin-top: 40px;
            }
        }
    }
}

.contacts-text{
    display: none;
    margin-bottom: 150px;

    img{
        width: 90%;
        margin: 0 auto;
    }

    & > *{
        font-size: 18px;
        line-height: 24px;
        color: #232222;
        font-family: 'Gotham Pro';
    }

    @media(min-width: $desktop) {
        display: block;
    }
}