.top-site{
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  height: 100vh;
  width: 100%;  
  position: relative;
  z-index: 9;
  padding-bottom: 75px;

  .new{
    opacity: 0;
  }

  .div_opacity{
    opacity: 1;
    transition: opacity .1s ease-in-out;
  }

  &-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    padding-left: 10%;
    z-index: 11;

    &-title{
      font-family: "Gotham Pro", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      color: #fff;
      max-width: 660px;

      strong{
        display: block;
      }

      @media(min-width: $desktop) {
        font-size: 50px;
      }
    }

    &-bottom{
      display: flex;     
      flex-direction: column-reverse; 

      p{
        display: flex;
        align-items: center;    
        height: 100%;           
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        line-height: 23px;
        margin-bottom: 40px;

        @media(min-width: $desktop) {
          margin-left: 45px;
          margin-bottom: 15px;
          border-left: solid #fff 3px;
          padding-left: 20px;
          line-height: initial;
        }
      }

      @media(min-width: $desktop) {
        align-items: center;
        flex-direction: row;
        height: 50px;
      }
    }

    @media(min-width: $desktop) {
      padding-left: 25%;
      padding-bottom: 60px;
    }
  }

  .long-line{
    height: 3px;
    width: 100px;
    background-color: #fff;
    z-index: 11;
    position: absolute;
    bottom: 5%;
    left: 10%;

    @media(min-width: $desktop) {
      position: initial;
      width: 400px;
    }
  }

  &:before{
    content: none;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    position: absolute;
    background: rgba(28, 28, 28, 0.56);

    @media(min-width: $desktop) {
      content: "";
    }
  }

  &:after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.middle-wrapper{
  position: relative;
  height: 100%;
  width: 100%;

  .middle-portfolio{    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;

    .middle-portfolio-left{     

      &-title{    
        
        .portfolio-left-title-wrapper{ 

          .portfolio-left-title-tag{
  
            &:before{
              content: "";
              display: block;
              border: 4px solid rgba(21, 21, 21, 0.06);
              height: 100px;
              width: 100px;
              position: absolute;
              right: -35px;
              bottom: -29px;
              z-index: -1;

              @media(min-width: $desktop) {
                bottom: -35px;
                right: -20px;
              }
            }
          }

          .line{
            position: absolute;

            &-purple{            

              @media(min-width: $desktop) {
                width: 28px;
                height: 4px;
                right: -28px;
                top: 63px;
              }
            }

            &-corner{          

              @media(min-width: $desktop) {
                width: 20px;
                height: 35px;
                border-width: 0px 0px 4px 4px;
                top: 31px;
                left: 15px;
              }
            }

            &-blue{

              @media(min-width: $desktop) {
                height: 65px;
                width: 4px;
                top: -34px;
                left: 16px;  
              }
            }
          }
        }      
        
        .portfolio-left-title-red_line{  
          position: relative;                 

          span{
            display: block;
            background: #E05D68;
            width: 45px;
            height: 4px;
            position: absolute;
            bottom: 20px;
            left: 295px;

            @media(min-width: $desktop) {
              position: initial;
              bottom: initial;
              left: initial;
              width: 4px;
              height: 50px;
            }
          }

          @media(min-width: $desktop) {
            position: initial;
            padding-left: 30px;  
            margin: 140px 0 100px 0;
          }
        }

        .portfolio-left-scroll{
          display: none;
          text-transform: uppercase;
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          color: black;
          letter-spacing: 1.34em;

          @media(min-width: $desktop) {
            display: block;
          }
        }
      }

      @media(min-width: $desktop) {
        padding: 160px 0 80px 80px;
      }
    }  

    &-slider{
      padding: 50px 0 0 0;
      width: 90%;
      margin: 0 auto;

      &-top{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        margin: 40px auto 20px;

        &-left{
          display: flex;
          align-items: center;
          position: relative;

          .slash{
            margin: 0px 20px;
          }

          .category{
            font-family: "Gotham Pro", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;        
            
            @media(min-width: $tablet) {
              letter-spacing: 0.405em;
            }
          }
        }

        
        .tripple-btn-big{
          position: absolute;
          bottom: 40px;      

          @media(min-width: $desktop) {
            position: relative;
            bottom: initial;
          }
        }

        @media(min-width: $desktop) {
          justify-content: space-between;
          padding-right: 20%;
          margin: 0;
        }
      }

      .swiper-container-design{ 
        position: relative;   
        padding: 15px 0 0 15px;
        
        .line{

          &-purple{
            width: 150px;
            height: 3px;
            left: 75px;
            top: -1px;

            @media(min-width: $tablet) {
              width: 260px;
            }
          }

          &-corner{
            width: 75px;
            height: 140px;
            border-width: 3px 0px 0px 3px;
            top: 0px;
            left: 0px;
          }

          &-blue{
            height: 315px;
            width: 3px;
            top: 140px;
            left: 1px;
          }
        }

        .swiper-main {            
          height: 660px;   
          position: initial; 

          .swiper-wrapper{
            cursor: grab;

            .swiper-slide{
              display: flex;
              flex-direction: column;
              align-items: center;

              img{
                display: block;
                object-fit: cover;
                max-height: 500px;
                height: 100%;
                max-width: 375px;
                width: 100%;
                margin-bottom: 30px;
              }

              .slide-title{
                max-width: 355px;
                width: 100%;
                border-left: 2px solid black;                                    
                font-family: "Gotham Pro", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.1em;
                line-height: 30px;     
                padding-left: 20px;          

                @media(min-width: $desktop) {
                  text-align: right;
                  padding-right: 20px;  
                  padding-left: 0;
                  word-spacing: 999px; 
                  border-right: 2px solid black;   
                  border-left: none;
                }
              }

              @media(min-width: $desktop) {
                align-items: initial;
              }
            }        
          }

          .swiper-pagination{
            display: flex;
            justify-content: center;
            height: 30px;

            .swiper-pagination-bullet{
              background: none;
              height: auto;
              width: 30px;
              border-bottom: 1px solid black;
              border-radius: 0;
              text-align: left;
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              transition: width 0.3s ease, color 0.3s ease;
              color: #E4E4E4;
              border-color: #E4E4E4;
              opacity: 1;
            }

            .swiper-pagination-bullet-active{
              color: #000;
              border-color: #000;
              width: 50px;
              transition: width 0.3s ease, color 0.3s ease;
            }

            @media(min-width: $desktop) {
              justify-content: initial;
            }
          }    

          .swiper-button-next{
            left: initial;
            top: initial;
            bottom: 0;
            right: 10px;
            height: 45px;
            width: 45px;
            background-color: #000;       
            font-size: 32px;
            transform: rotate(45deg);

            .icon{
              height: 15px;
              width: 15px;
              fill: white;
              transform: rotate(45deg);

              @media(min-width: $desktop) {
                transform: rotate(0deg);
              }
            }

            &:after{
              content: "";
            }

            &:before{
              content: '';
              display: none;
              height: 45px;
              width: 45px;
              border: 2px solid #BD5B98;
              border-width: 2px 0px 0px 2px;
              position: absolute;
              top: -6px;
              left: -6px;

              @media(min-width: $desktop) {
                display: block;
              }
            }

            @media(min-width: $desktop) {
              left: -100px;
              right: initial;
              top: 40%;
              transform: rotate(0deg);
            }
          }

          .swiper-button-prev{
            right: initial;
            left: 10px;
            top: initial;
            bottom: 0;
            height: 45px;
            width: 45px;
            background-color: #000;       
            font-size: 32px;
            transform: rotate(45deg);
            
            .icon{
              height: 15px;
              width: 15px;
              fill: white;
              transform: rotate(-45deg);

              @media(min-width: $desktop) {
                transform: rotate(0deg);
              }
            }

            &:after{
              content: "";
            }

            @media(min-width: $desktop) {
              display: none;
            }
          }

          @media(min-width: $desktop) {
            margin-right: -100px;
          }
        } 

        &:after{
          content: "";
          display: none;
          position: absolute;
          right: 0;
          top: -79px;
          bottom: -50px;
          width: 15%;
          height: 100%;
          box-shadow: inset -97px 0px 60px 3px white;
          z-index: 2;

          @media(min-width: $desktop) {
            display: block;
          }
        }
      }

      @media(min-width: 740px) {
        width: 55%;
      }

      @media(min-width: $desktop) {
        padding: 50px 0 0 70px;
        margin: initial;
        width: 83.4%;
      }
    }

    @media(min-width: $desktop) {
      flex-direction: row;
      padding-bottom: 20px;
    }
  }

  .info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .middle-line{
      z-index: 1;
      background-color: #393939;
      top: 0;

      &-first{

        .middle-line-square{
          top: 0%;

          &-mob{
            display: block;
            top: 80%;

            @media(min-width: $desktop) {
              display: none;
            }          
          }
        }
      }
  
      &-second{

        .middle-line-square{
          top: 75%;
        }
      }
  
      &-third{
        
        .middle-line-square{        
          top: 95%;

          @media(min-width: $desktop) {
            top:-2% ;
          }
        }
      }
  
      &-fourth{
        
        .middle-line-square{
         top: 98%;
        }
      }
  
      &-fifth{
        
        .middle-line-square{
          top: 5%;

          &-mob{
            display: block;
            top: 70%;

            @media(min-width: $desktop) {
              display: none;
            }  
          }
        }
      }

      .middle-line-square{
        z-index: 2;
      }
    }  

    .left-side-sm{
      height: 0%;

      .left-side-sm-title{
        display: none;

        .left-side-sm-title-tag{

          &:before{
            border: 2px solid rgba(255, 255, 255, 0.15);
            border-width: 2px 2px 0px 0px;
          }
  
          &:after{
            border: 2px solid rgba(255, 255, 255, 0.15);
            border-width: 0px 0px 2px 2px;
          }
        }
        @media(min-width: $desktop) {
          display: block;
        }
      }

      .left-side-sm-text{       

        span{
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
        }

        @media(min-width: 320px) and (max-width: $desktop) {
          right: 15%;
          top: 200px;   
        }
      }

      @media(min-width: $desktop) {
        height: 100%;
      }
    }

    .info-middle{
      width: 100%;
      position: relative;
      z-index: 2;

      &-top{
        padding-left: 10%;

        &-title{          
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          margin: 0;
          color: white;
          position: relative;

          &:before{

            @media(min-width: $desktop) {
              content: url(/wp-content/themes/intericco/images/logo-e.svg);
              display: block;
              border: none;
              width: 55px;
              height: 55px; 
              position: absolute;
              left: -80px;
              top: -3px;
            }
          }

          &:after{

            @media(min-width: $desktop) {
              content: "";
              display: block;
              width: 75px;
              height: 5px;
              background-color: #E05D68;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 55px;
              margin: auto;
            }
          }

          @media(min-width: $desktop) {
            font-size: 45px;
          }
        }

        @media(min-width: $desktop) {
          padding-left: 230px;
        }
      }

      &-main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 140px 50px 0;

        &-numbers{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          max-width: 60%;
          width: 100%;

          .main-numbers-block{    
            display: flex;
            flex-direction: column;   
            align-items: center;         
            margin-bottom: 50px;

            .number{
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 50px;
              color: #FBFBFB;
            }

            .tripple-btn{
              margin: 20px 0 25px 5px;
            }

            &-category{
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              color: #FBFBFB;              

              @media(min-width: $desktop) {
                margin-bottom: 15px;
              }
            }

            &-bottom-text{
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              letter-spacing: 0.285em;
              color: #FFFFFF;
              text-align: left;
              padding-left: 75px;

              @media(min-width: $desktop) {
                text-align: right;
                padding-left: 0px;
              }
            }

            @media(min-width: $desktop){
              align-items: initial;
              max-width: 33%;
              margin-bottom: 0;
            }
          }

          @media(min-width: $desktop) {
            flex-direction: row;
          }
        }

        &-rating{      

          &-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Gotham Pro", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            color: white;
            margin-bottom: 30px;

            @media(min-width: $desktop) {
              display: block;
            }
          }

          &-stars{
            display: flex;
            justify-content: center;
            margin-bottom: 40px;

            .star-icon{
              margin: 0px 5px;

              .icon{
                fill: #383838;
              }

              &-active{

                .icon{
                  fill: #E05D68;
                }
              }
            }

            @media(min-width: $desktop) {
              display: block;
            }
          }

          &-text{
            display: block;
            font-family: "Gotham Pro", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            color: white;
            margin-bottom: 70px;
            text-align: center;

            @media(min-width: $desktop) {
              text-align: initial;
            }
          }

          .main-link{
            max-width: 275px;
            margin: 0 auto;

            @media(min-width: $desktop) {
              margin: 0;
            }
          }

          @media(min-width: $desktop) {
            max-width: 33%;
          }
        }

        @media(min-width: $desktop) {
          flex-direction: row;
          padding-left: 90px;
          padding: 140px 0 90px 170px;
        }
      }

      @media(min-width: $desktop) {
        max-width: 66.6%;
        padding-top: 170px;
      }
    }

    .info-right{
      display: none;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      max-width: 16.8%;
      width: 100%;
      padding-bottom: 60px;

      @media(min-width: $desktop) {
        display: flex;
      }
    }

    &:after{
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-color: rgba(24, 24, 24, 0.9);;
    }

    @media(min-width: $desktop) {
      flex-direction: row;
      padding-top: 0px;
      padding-bottom: 0;
      height: 800px;
    }
  }

  .service{
    position: relative;

    &-top{
      display: flex;
      width: 100%;
      height: 300px;

      &-left{
        display: block;
        max-width: 16.6%;
        width: 100%;
      }
      
      &-middle{
        display: flex;
        justify-content: space-between;
        max-width: 66.6%;
        width: 100%;    

        &-left{
          display: none;
          align-items: center;
          width: 50%;

          @media(min-width: $desktop) {
            display: flex;
          }

          &-line{
            display: block;
            height: 5px;
            width: 75px;
            background: #E05D68;
          }
        }

        &-right{
          display: flex;
          align-items: center;
          justify-content: flex-end;    
          
          .lines-title{
            background-color: white;
            font-size: 30px;

            @media(min-width: 440px) {
              font-size: 35px;
            }

            @media(min-width: 640px) {
              font-size: 40px;
            }

            @media(min-width: 768px) {
              font-size: 45px;
            }

            &:after{
              
              @media(min-width: $desktop) {
                display: none;
              }
            }
          }

          .title-block-lines{
            display: none;

            @media(min-width: $desktop) {
              display: block;
            }
          }

          @media(min-width: $desktop) {
            width: 50%;
          }
        }
      }

      &-right{
        display: block;
        max-width: 16.8%;
        width: 100%;
      }
    }

    &-middle{
      display: flex;
      border-top: solid 1px #EDEDED;
      border-bottom: solid 1px #EDEDED;

      .service-middle-left{             

        .service-middle-left-text{
          left: -40px;
          right: initial;
          top: 50px;

          @media(min-width: $desktop) {
            left: 0;
            top: initial;
          }
        }

        .service-middle-left-sign{
          transform: rotate(-90deg);
          position: absolute;
          bottom: 55px;
          right: -15px;
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12.5px;
          letter-spacing: 0.1em;
          color: #9D9D9D;
          text-transform: uppercase;
        }

        @media(min-width: 320px) and (max-width: $desktop) {
          max-width: 15%;
        }
      }

        .service-middle-main{          
          display: flex;          
          flex-direction: column;             
          max-width: 70%;
          width: 100%;  
  
          .service-middle-main-block{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 0;
            width: 100%;
            padding-top: 35px;
            padding-left: 10px;
            background-color: white;             
            border-left: 1px solid #EDEDED;             

            .service-middle-main-block-bg{
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transition: opacity 0.3s ease;
              z-index: -1;

              &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
              }
            }
  
            .middle-main-block-number{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              color: #131313;
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              padding-right: 50px;
  
              &:before{
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                background: #131313;
                margin-right: 20px;              
              }
            }
  
            .middle-main-block-title{
              margin-top: 100px;
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 35px;
              color: #131313;
              transition: color 0.3s ease;

              @media(min-width: $desktop) {
                font-size: 60px;
              }
            }
  
            .middle-main-block-text{
              font-family: "Gotham Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              letter-spacing: 0.065em;
              line-height: 26px;
              position: relative;           
              overflow-y: scroll;      
              color: black; 
              transition: color 0.3s ease;
  
              &:after{
                content: "";
                display: block;
                height: 65%;
                transition: opacity 0.3s ease;
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%)
              }

              @media(min-width: $desktop) {
                max-height: 105px;  
              }
            } 
  
            .middle-main-block-bottom{
              display: flex;
              align-items: center;
              justify-content: space-between;
  
              .tripple-btn{
                margin-right: 10px;
  
                .tripple-btn-third{
  
                  &:after{
                    right: -25%;
                  }
                }
              }
  
              &:before{
                content: "";
                display: block;
                height: 1px;
                width: 40%;
                background-color: black;
              }
            }

            &:after{
              content: "";
              display: none;
            }

            &:hover{   
              
              .service-middle-main-block-bg{
                opacity: 1;
                transition: opacity 0.3s ease;
              }

              .middle-main-block-number{
                color: white;
                transition: color 0.3s ease;
  
                &:before{
                  background-color: white;
                  transition: background-color 0.3s ease;
                }
              }
  
              .middle-main-block-title{
                color: white;
                transition: color 0.3s ease;
              }
  
              .middle-main-block-text{
                color: white;
                transition: color 0.3s ease;
  
                &:after{
                  opacity: 0;
                  transition: initial;
                }
              }
  
              .middle-main-block-bottom{
                justify-content: flex-end;
  
                &:before{
                  content: none; 
                }
              }
  
              &:after{
                content: "";
                display: block;
                background-color: rgba(0, 0, 0, 0.5);
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
              }
            }

            @media(min-width: $desktop) {
              width: 50%;
              padding-left: 50px;
            }
          }

          .service-button-next{
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-90deg);
            height: 50px;
            width: 50px;
            position: absolute;
            right: -75px;
            bottom: 25px;
            cursor: pointer;
          }      
          
          @media(min-width: $desktop) {
            flex-direction: row;
            max-width: 66.6%;
          }
        }  

        .middle-service-left{
          max-width: 15%; 
          width: 100%; 
          height: 100%;

          @media(min-width: $desktop) {
            max-width: 16.6%; 
          }
        }

        @media(min-width: $desktop) {
          height: 450px;
        }
    }

    &-bottom{
      padding-top: 40px;
      max-width: 15%;
      width: 100%;

      .service-bottom-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        max-height: 60px;
        max-width: 60px;
        width: 100%;
        background-color: black;

        svg{
          fill: white;
        }

        @media(min-width: $desktop) {
          height: 100px;
          max-height: 100px;
          width: 100px;
          max-width: 100px;
        }
      }

      @media(min-width: $desktop) {
        max-width: 16.6%;
      }
    }

    @media(min-width: $desktop) {
      background-color: white;
    }
  }

  .news{
    display: flex;
    height: 800px;
    position: relative;
    background-color: white;
    overflow: hidden;

    .left-side{  
      
      .left-side-title{

        @media(min-width: 320px) and (max-width: $desktop) {
          display: none;
        }
      }
      
      @media(min-width: 320px) and (max-width: $desktop) {
        max-width: 15%;
        padding-left: 0;
      }
    }

    .left-side-title-tag{
      color: black;
    }

    &-middle{
      max-width: 70%;
      width: 100%;
      position: relative;

      &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 10px;

        .title-block-reverse{

          .title-block-lines{
            display: none;

            @media(min-width: $desktop) {
              display: block;
            }
          }

          h2{
            position: relative;

            &:before{
              content: "";
              display: block;
              position: absolute;
              left: -90px;   
              top: 0;
              bottom: 0;
              margin: auto;           
              background: rgba(36, 36, 36, 0.14);
              width: 75px;
              height: 4px;              
            }
          }
        }

        .news-middle-top-link{
          display: none;          
          font-family: "Gotham Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: black;
          text-transform: uppercase;
          text-decoration: underline;
          letter-spacing: 0.405em;

          &:after{
            content: url(/wp-content/themes/intericco/images/long-arrow-right.svg);
            display: block;
            margin-left: 30px;
          }

          @media(min-width: $desktop) {
            display: flex;
          }
        }
      }

      .news-middle-slider{
        position: relative;    
        margin-top: 50PX;
        
        .swiper-slide{
          display: flex;
          flex-direction: column;
          align-items: center;

          img{
            max-width: 265px;
            max-height: 280px;
          }

          .slide-date{
            display: block;
            font-family: "Gotham Pro", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #000000;
            margin: 30px 0;
          }

          .slide-title{
            font-family: "Gotham Pro", sans-serif;
            max-width: 60%;
            margin-bottom: 30px;
          }

          .tripple-btn{
            padding-left: 10px;
            margin-left: -100px;

            .tripple-btn-title{
              letter-spacing: initial;
              text-transform: initial;
            }

            &:after{
              content: "";
              display: block;
              background-image: url(/wp-content/themes/intericco/images/Vector.svg);
              background-position: center center;
              background-repeat: no-repeat;  
              height: 40px;
              width: 50px;
              background-color: #E05D68;      
              position: absolute;
              right: -70px;      
            }

            @media(min-width: $desktop) {
              margin-left: 0;
            }
          }

          @media(min-width: $desktop) {
            align-items: initial;
          }
        }

        .swiper-pagination{
          display: flex;
          justify-content: center;
          bottom: 70px;         

          @media(min-width: $desktop) {
            justify-content: initial;
            left: 100px;
          }
        }

        .swiper-button-next{
          right: -25px;
          left: initial;
          border: 1px solid #000000;
          background-color: white;
          color: black;
          overflow: hidden;    

          .icon{
            height: 15px;
            width: 15px;
          }

          &:before{
            content: "";
            display: block;
            height: 43px;
            width: 45px;
            transform: skew(15deg);
            position: absolute;
            top: 0;
            left: -100px;
            background-color: #E05D68;
            z-index: -1;
            transition: left 0.3s ease;
          }

          &:hover{
            
            .icon{
              fill: white;
              transition: fill 0.3s ease;
            }

            &:before{
              left: -15px;
              transition: left 0.3s ease;
            }
          }
        }

        .swiper-button-prev{
          left: -25px;
          top: 40%;
          height: 45px;
          width: 45px;
          background-color: white;
          border: 1px solid #000000;
          color: black;
          font-size: 32px;
          overflow: hidden;

          .icon{
            height: 15px;
            width: 15px;
          }

          
          &:before{
            content: "";
            display: block;
            height: 43px;
            width: 45px;
            transform: skew(15deg);
            position: absolute;
            top: 0;
            left: -100px;
            background-color: #E05D68;
            z-index: -1;
            transition: left 0.3s ease;
          }

          &:hover{
            
            .icon{
              fill: white;
              transition: fill 0.3s ease;
            }

            &:before{
              left: -15px;
              transition: left 0.3s ease;
            }
          }

          &:after{
            content: none;
          }
        }

        &:after{
          content: "";
          display: none;
          position: absolute;
          right: 0;
          width: 200px;
          height: 100%;
          background: linear-gradient(to left, #fff, transparent);
          top: 0;
          z-index: 2;

          @media(min-width: $desktop) {
            display: block;
          }
        }

        @media(min-width: $desktop) {
          padding-left: 100px;
        }
      }

      @media(min-width: $desktop) {
        max-width: 66.6%;
      }
    }

   &-right{
      max-width: 15%;
      width: 100%;
      padding-top: 150px;

      &-logo{
        display: none;
        justify-content: flex-end;
        padding-right: 60px;        

        span{
          display: block;
          height: 50px;
          width: 50px;
          position: relative;
          z-index: 1;

          &:before{
            content: "";
            display: block;
            height: 150px;
            width: 4px;
            background-color: #BD5B98;
            position: absolute;
            bottom: 45px;
            left: 0;
            right: 0;
            margin: auto;
          }
  
          &:after{
            content: "";
            display: block;
            height: 550px;
            width: 1px;
            background-color: #D2D2D2;
            position: absolute;
            top: 45px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
          }
        }   

        @media(min-width: $desktop) {
          display: flex;
        }
      }

      @media(min-width: $desktop) {
        max-width: 16.7%;
      }
    } 
  }
}


.slider-scrollbar{
  bottom: 100px;
}